@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-ff: "eigerdals", sans-serif;
    --secondary-ff: "din-2014", sans-serif;
    --bg-clr: #343642;
    --primary-opaque: #3488999d;
    --secondary-clr: #979C9C;
}


body {
    background-color: var(--bg-clr);
}

.secondary-clr {
    background-color: var(--secondary-clr);
}

.primary-opaque {
    background-color: var(--primary-opaque);
}

.mobile-title-txt {
    font-family: var(--main-ff);
    font-size: 2.25rem;
}

.mobile-subtitle-txt {
    font-family: var(--main-ff);
    font-size: 1.75rem;
}

.mobile-body-txt {
    font-family: var(--secondary-ff);
    font-size: 1.25rem;
}

video {
    filter: blur(2px);
}

.nav-link::after {
    background-color: white;
    border-radius: 3px;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.1s;
    width: 0;
}

.nav-link:hover::after {
    width: 100%;
}

#search-input {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.5px);
    border: 2px solid rgba(0, 0, 0, 0.226);
    caret-color: black;
}

#search-input:focus {
    border: 2px solid black;
    outline: none;
}

#search-btn {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.5px);
    border: 2px solid rgba(0, 0, 0, 0.226);
    color: black;
}

#search-btn:hover {
    border: 2px solid black;
}

#weather-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    height: auto;
    margin-top: 3rem;
    width: 100%;
}

#weather-container {
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(49, 49, 49, 0.075);
    height: auto;
    padding: 1rem 2rem;
    width: auto;
}

#weather-container:hover {
    transform: scale(1.05);
}

#weather-condition {
    justify-self: center;
    grid-column: span 2;
}

#temp-container, #wind-container, #humidity-container, #uv-index-container {
    align-items: center;
    height: fit-content;
    justify-content: center;
    width: 100%;
}

footer {
    width: 100%;
}